.divLoader {
  width: 100vw;
  height: 99vh;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.loader {
  --cell-size: 52px;
  --cell-spacing: 1px;
  --cells: 3;
  --total-size: calc(var(--cells) * (var(--cell-size) + 2 * var(--cell-spacing)));
  display: flex;
  flex-wrap: wrap;
  width: var(--total-size);
  height: var(--total-size);
}

.cell {
  flex: 0 0 var(--cell-size);
  margin: var(--cell-spacing);
  background-color: transparent;
  box-sizing: border-box;
  border-radius: 4px;
  animation: 1.5s ripple ease infinite;
}

.cell.d-1 {
  animation-delay: 100ms;
}

.cell.d-2 {
  animation-delay: 200ms;
}

.cell.d-3 {
  animation-delay: 300ms;
}

.cell.d-4 {
  animation-delay: 400ms;
}

.cell:nth-child(1) {
  --cell-color: #00FF87;
}

.cell:nth-child(2) {
  --cell-color: #0CFD95;
}

.cell:nth-child(3) {
  --cell-color: #17FBA2;
}

.cell:nth-child(4) {
  --cell-color: #23F9B2;
}

.cell:nth-child(5) {
  --cell-color: #30F7C3;
}

.cell:nth-child(6) {
  --cell-color: #3DF5D4;
}

.cell:nth-child(7) {
  --cell-color: #45F4DE;
}

.cell:nth-child(8) {
  --cell-color: #53F1F0;
}

.cell:nth-child(9) {
  --cell-color: #60EFFF;
}

/*Animation*/
@keyframes ripple {
  0% {
    background-color: transparent;
  }
  30% {
    background-color: var(--cell-color);
  }
  60% {
    background-color: transparent;
  }
  100% {
    background-color: transparent;
  }
}
@media (max-width: 956px) {
  .showDivSearchPage {
    display: none;
  }
}
.showDivSearchPage > .p-dataview {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.showDivSearchPage > .p-dataview > .p-paginator-bottom.p-paginator.p-component {
  display: flex;
  width: 100%;
  height: 80px;
  border-radius: 20px;
  background-color: #FFFFFF;
  box-shadow: 0px 6px 6px 1px rgba(0, 0, 0, 0.05);
  align-items: center;
  justify-content: space-around;
  font-family: "Poppins", sans-serif;
}
.showDivSearchPage > .p-dataview > .p-paginator-bottom.p-paginator.p-component .p-link:disabled {
  color: #BCBCBC;
}
.showDivSearchPage > .p-dataview > .p-paginator-bottom.p-paginator.p-component > button {
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 23px;
  color: #4CE0D7;
}
.showDivSearchPage > .p-dataview > .p-paginator-bottom.p-paginator.p-component > button > span {
  display: flex;
  align-items: center;
  gap: 5px;
}
.showDivSearchPage > .p-dataview > .p-paginator-bottom.p-paginator.p-component > button > span > i {
  font-size: 21px;
  color: #BCBCBC;
}
.showDivSearchPage > .p-dataview > .p-dataview-content > .grid.grid-nogutter {
  display: flex;
  background: transparent;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  width: 975px;
  justify-content: space-between;
}
@media (max-width: 1460px) {
  .showDivSearchPage > .p-dataview > .p-dataview-content > .grid.grid-nogutter {
    gap: 15px;
    width: 100%;
  }
}
.showDivSearchPage > .p-dataview > .p-dataview-content > .grid.grid-nogutter > .articleHiddenCategory {
  margin: 5px 0px 50px 0px;
  background-color: #FFFFFF;
  box-shadow: 0px 6px 6px 1px rgba(0, 0, 0, 0.05);
  width: 100%;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas: "logo content";
}
@media (max-width: 1359px) {
  .showDivSearchPage > .p-dataview > .p-dataview-content > .grid.grid-nogutter > .articleHiddenCategory {
    height: 391px;
  }
}
@media (max-width: 1288px) {
  .showDivSearchPage > .p-dataview > .p-dataview-content > .grid.grid-nogutter > .articleHiddenCategory {
    grid-template-columns: 48% 52%;
  }
}
@media (max-width: 956px) {
  .showDivSearchPage > .p-dataview > .p-dataview-content > .grid.grid-nogutter > .articleHiddenCategory {
    background-color: #FFFFFF;
    box-shadow: 0px 6px 6px 1px rgba(0, 0, 0, 0.05);
    width: 100%;
    height: 362px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    height: 700px;
    width: 250px;
  }
}
.showDivSearchPage > .p-dataview > .p-dataview-content > .grid.grid-nogutter > .articleHiddenCategory > .articlearticleHiddenDivTop {
  display: flex;
  flex-direction: row;
  padding: 0px 17px 0px 0px;
  width: 458px;
  grid-area: logo;
}
@media (max-width: 1288px) {
  .showDivSearchPage > .p-dataview > .p-dataview-content > .grid.grid-nogutter > .articleHiddenCategory > .articlearticleHiddenDivTop {
    width: 100%;
  }
}
@media (max-width: 956px) {
  .showDivSearchPage > .p-dataview > .p-dataview-content > .grid.grid-nogutter > .articleHiddenCategory > .articlearticleHiddenDivTop {
    display: flex;
    flex-direction: row;
    padding: 0px 17px 0px 0px;
    width: 458px;
  }
}
.showDivSearchPage > .p-dataview > .p-dataview-content > .grid.grid-nogutter > .articleHiddenCategory > .articlearticleHiddenDivTop > img {
  border-radius: 20px;
  width: 417px;
  height: 362px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 1359px) {
  .showDivSearchPage > .p-dataview > .p-dataview-content > .grid.grid-nogutter > .articleHiddenCategory > .articlearticleHiddenDivTop > img {
    height: 100%;
  }
}
@media (max-width: 1288px) {
  .showDivSearchPage > .p-dataview > .p-dataview-content > .grid.grid-nogutter > .articleHiddenCategory > .articlearticleHiddenDivTop > img {
    width: 100%;
  }
}
@media (max-width: 956px) {
  .showDivSearchPage > .p-dataview > .p-dataview-content > .grid.grid-nogutter > .articleHiddenCategory > .articlearticleHiddenDivTop > img {
    width: 100%;
  }
}
.showDivSearchPage > .p-dataview > .p-dataview-content > .grid.grid-nogutter > .articleHiddenCategory > .articlearticleHiddenDivTop > p {
  min-width: 133.6204528809px;
  width: 133.62px;
  height: 35.9527359009px;
  max-height: 35px;
  padding-top: 8px;
  border-radius: 40px;
  background-color: #262626;
  text-align: center;
  letter-spacing: 1px;
  font-weight: 700;
  font-size: 12px;
  position: relative;
  color: #FFFFFF;
  text-transform: uppercase;
  top: 10px;
  left: -390px;
  white-space: nowrap;
}
@media (max-width: 1288px) {
  .showDivSearchPage > .p-dataview > .p-dataview-content > .grid.grid-nogutter > .articleHiddenCategory > .articlearticleHiddenDivTop > p {
    padding: 17px 56px;
    min-width: 0px;
    line-height: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    left: -322px;
  }
}
@media (max-width: 1252px) {
  .showDivSearchPage > .p-dataview > .p-dataview-content > .grid.grid-nogutter > .articleHiddenCategory > .articlearticleHiddenDivTop > p {
    left: -280px;
  }
}
@media (max-width: 1146px) {
  .showDivSearchPage > .p-dataview > .p-dataview-content > .grid.grid-nogutter > .articleHiddenCategory > .articlearticleHiddenDivTop > p {
    left: -230px;
  }
}
@media (max-width: 1068px) {
  .showDivSearchPage > .p-dataview > .p-dataview-content > .grid.grid-nogutter > .articleHiddenCategory > .articlearticleHiddenDivTop > p {
    left: -200px;
  }
}
.showDivSearchPage > .p-dataview > .p-dataview-content > .grid.grid-nogutter > .articleHiddenCategory > .articlearticleHiddenDivMiddle {
  display: flex;
  align-items: flex-start;
  padding-top: 19px;
  grid-area: content;
  height: 100%;
  padding-right: 19px;
}
.showDivSearchPage > .p-dataview > .p-dataview-content > .grid.grid-nogutter > .articleHiddenCategory > .articlearticleHiddenDivMiddle > img {
  width: 50.0190429688px;
  height: 50.0190429688px;
  -o-object-fit: cover;
     object-fit: cover;
}
.showDivSearchPage > .p-dataview > .p-dataview-content > .grid.grid-nogutter > .articleHiddenCategory > .articlearticleHiddenDivMiddle > h3 {
  padding-left: 19px;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 1px;
  color: #BCBCBC;
  width: 100%;
}
.showDivSearchPage > .p-dataview > .p-dataview-content > .grid.grid-nogutter > .articleHiddenCategory > .articlearticleHiddenDivMiddle > span {
  padding-left: 115px;
  font-size: 14px;
  font-weight: 400;
  color: #BCBCBC;
  width: 100%;
  margin: 14px 0px;
}
@media (max-width: 1068px) {
  .showDivSearchPage > .p-dataview > .p-dataview-content > .grid.grid-nogutter > .articleHiddenCategory > .articlearticleHiddenDivMiddle > span {
    padding-left: 80px;
  }
}
.showDivSearchPage > .p-dataview > .p-dataview-content > .grid.grid-nogutter > .articleHiddenCategory > .articlearticleHiddenDivBottom {
  grid-area: content;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 19px;
  padding-top: 7px;
}
@media (max-width: 1300px) {
  .showDivSearchPage > .p-dataview > .p-dataview-content > .grid.grid-nogutter > .articleHiddenCategory > .articlearticleHiddenDivBottom {
    padding-top: 85px;
    gap: 20px;
  }
}
.showDivSearchPage > .p-dataview > .p-dataview-content > .grid.grid-nogutter > .articleHiddenCategory > .articlearticleHiddenDivBottom > h1 {
  color: #262626;
  font-size: 26px;
  font-weight: 700;
  height: 55px;
  margin-top: 65px;
}
@media (max-width: 1300px) {
  .showDivSearchPage > .p-dataview > .p-dataview-content > .grid.grid-nogutter > .articleHiddenCategory > .articlearticleHiddenDivBottom > h1 {
    margin: 0px 0px 40px 0px;
    height: auto;
    margin: 0;
  }
}
.showDivSearchPage > .p-dataview > .p-dataview-content > .grid.grid-nogutter > .articleHiddenCategory > .articlearticleHiddenDivBottom > h4 {
  color: #262626;
  font-size: 16px;
  font-weight: 400;
  word-break: break-all;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-height: 16px;
  max-height: 65px;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}
@media (max-width: 1300px) {
  .showDivSearchPage > .p-dataview > .p-dataview-content > .grid.grid-nogutter > .articleHiddenCategory > .articlearticleHiddenDivBottom > h4 {
    margin: 0;
  }
}
.showDivSearchPage > .p-dataview > .p-dataview-content > .grid.grid-nogutter > .articleHiddenCategory > .articlearticleHiddenDivBottom > a {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
}
.showDivSearchPage > .p-dataview > .p-dataview-content > .grid.grid-nogutter > .articleHiddenCategory > .articlearticleHiddenDivBottom > a > img {
  width: 39px;
  height: 39px;
}
.showDivSearchPage > .p-dataview > .p-dataview-content > .grid.grid-nogutter > .articleHiddenCategory > .articlearticleHiddenDivBottom > a > p {
  letter-spacing: 2px;
  font-weight: 700;
  font-size: 13px;
  color: #4CE0D7;
}

.p-dataview-content {
  background-color: transparent;
}

@media (max-width: 956px) {
  .showDiv {
    display: none;
  }
}
.showDiv > .p-dataview {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.showDiv > .p-dataview > .p-paginator-bottom.p-paginator.p-component {
  display: flex;
  width: 100%;
  height: 80px;
  border-radius: 20px;
  background-color: #FFFFFF;
  box-shadow: 0px 6px 6px 1px rgba(0, 0, 0, 0.05);
  align-items: center;
  justify-content: space-around;
  font-family: "Poppins", sans-serif;
}
.showDiv > .p-dataview > .p-paginator-bottom.p-paginator.p-component .p-link:disabled {
  color: #BCBCBC;
}
.showDiv > .p-dataview > .p-paginator-bottom.p-paginator.p-component > button {
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 23px;
  color: #4CE0D7;
}
.showDiv > .p-dataview > .p-paginator-bottom.p-paginator.p-component > button > span {
  display: flex;
  align-items: center;
  gap: 5px;
}
.showDiv > .p-dataview > .p-paginator-bottom.p-paginator.p-component > button > span > i {
  font-size: 21px;
  color: #BCBCBC;
}
.showDiv > .p-dataview > .p-dataview-content > .grid.grid-nogutter {
  display: flex;
  background: transparent;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  width: 975px;
  justify-content: space-between;
}
@media (max-width: 1460px) {
  .showDiv > .p-dataview > .p-dataview-content > .grid.grid-nogutter {
    gap: 15px;
    width: 100%;
  }
}
.showDiv > .p-dataview > .p-dataview-content > .grid.grid-nogutter .articleHiddenCategory:nth-child(-n+2) {
  margin-bottom: 60px;
  border-radius: 20px;
  background-color: #FFFFFF;
  box-shadow: 0px 6px 6px 1px rgba(0, 0, 0, 0.05);
  height: 660px;
  width: 48%;
}
@media (max-width: 1304px) {
  .showDiv > .p-dataview > .p-dataview-content > .grid.grid-nogutter .articleHiddenCategory:nth-child(-n+2) {
    height: 707px;
  }
}
@media (max-width: 1259px) {
  .showDiv > .p-dataview > .p-dataview-content > .grid.grid-nogutter .articleHiddenCategory:nth-child(-n+2) {
    height: 635px;
  }
}
@media (max-width: 1015px) {
  .showDiv > .p-dataview > .p-dataview-content > .grid.grid-nogutter .articleHiddenCategory:nth-child(-n+2) {
    height: 707px;
  }
}
.showDiv > .p-dataview > .p-dataview-content > .grid.grid-nogutter .articleHiddenCategory:nth-child(-n+2) > .articlearticleHiddenDivTop {
  height: 300px;
}
.showDiv > .p-dataview > .p-dataview-content > .grid.grid-nogutter .articleHiddenCategory:nth-child(-n+2) > .articlearticleHiddenDivTop > img {
  border-radius: 20px;
  width: 100%;
  height: 274px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -o-object-fit: cover;
     object-fit: cover;
}
.showDiv > .p-dataview > .p-dataview-content > .grid.grid-nogutter .articleHiddenCategory:nth-child(-n+2) > .articlearticleHiddenDivTop > p {
  width: 133.6204528809px;
  height: 35.9527359009px;
  border-radius: 40px;
  background-color: #262626;
  text-align: center;
  letter-spacing: 1px;
  line-height: -15px;
  font-weight: 700;
  font-size: 12px;
  position: relative;
  color: #FFFFFF;
  padding-top: 8px;
  text-transform: uppercase;
  top: -270px;
  left: 22px;
}
.showDiv > .p-dataview > .p-dataview-content > .grid.grid-nogutter .articleHiddenCategory:nth-child(-n+2) > .articlearticleHiddenDivMiddle {
  display: flex;
  padding: 0px 17px;
  align-items: center;
}
.showDiv > .p-dataview > .p-dataview-content > .grid.grid-nogutter .articleHiddenCategory:nth-child(-n+2) > .articlearticleHiddenDivMiddle > img {
  width: 50.0190429688px;
  height: 50.0190429688px;
  -o-object-fit: cover;
     object-fit: cover;
}
.showDiv > .p-dataview > .p-dataview-content > .grid.grid-nogutter .articleHiddenCategory:nth-child(-n+2) > .articlearticleHiddenDivMiddle > h3 {
  padding-left: 19px;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 1px;
  color: #BCBCBC;
}
.showDiv > .p-dataview > .p-dataview-content > .grid.grid-nogutter .articleHiddenCategory:nth-child(-n+2) > .articlearticleHiddenDivMiddle > span {
  padding-left: 120px;
  font-size: 14px;
  font-weight: 400;
  color: #BCBCBC;
}
.showDiv > .p-dataview > .p-dataview-content > .grid.grid-nogutter .articleHiddenCategory:nth-child(-n+2) > .articlearticleHiddenDivBottom {
  padding: 0px 17px;
}
.showDiv > .p-dataview > .p-dataview-content > .grid.grid-nogutter .articleHiddenCategory:nth-child(-n+2) > .articlearticleHiddenDivBottom > h1 {
  color: #262626;
  font-size: 26px;
  font-weight: 700;
}
.showDiv > .p-dataview > .p-dataview-content > .grid.grid-nogutter .articleHiddenCategory:nth-child(-n+2) > .articlearticleHiddenDivBottom > h4 {
  color: #262626;
  font-size: 16px;
  font-weight: 400;
  word-break: break-all;
}
.showDiv > .p-dataview > .p-dataview-content > .grid.grid-nogutter .articleHiddenCategory:nth-child(-n+2) > .articlearticleHiddenDivBottom > a {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
}
.showDiv > .p-dataview > .p-dataview-content > .grid.grid-nogutter .articleHiddenCategory:nth-child(-n+2) > .articlearticleHiddenDivBottom > a > img {
  width: 39px;
  height: 39px;
}
.showDiv > .p-dataview > .p-dataview-content > .grid.grid-nogutter .articleHiddenCategory:nth-child(-n+2) > .articlearticleHiddenDivBottom > a > p {
  letter-spacing: 2px;
  font-weight: 700;
  font-size: 13px;
  color: #4CE0D7;
}
.showDiv > .p-dataview > .p-dataview-content > .grid.grid-nogutter > .articleHiddenCategory:nth-child(n+3) {
  margin: 5px 0px 50px 0px;
  background-color: #FFFFFF;
  box-shadow: 0px 6px 6px 1px rgba(0, 0, 0, 0.05);
  width: 100%;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas: "logo content";
}
@media (max-width: 1359px) {
  .showDiv > .p-dataview > .p-dataview-content > .grid.grid-nogutter > .articleHiddenCategory:nth-child(n+3) {
    height: 391px;
  }
}
@media (max-width: 956px) {
  .showDiv > .p-dataview > .p-dataview-content > .grid.grid-nogutter > .articleHiddenCategory:nth-child(n+3) {
    background-color: #FFFFFF;
    box-shadow: 0px 6px 6px 1px rgba(0, 0, 0, 0.05);
    width: 100%;
    height: 362px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    height: 700px;
    width: 250px;
  }
}
.showDiv > .p-dataview > .p-dataview-content > .grid.grid-nogutter > .articleHiddenCategory:nth-child(n+3) > .articlearticleHiddenDivTop {
  display: flex;
  flex-direction: row;
  padding: 0px 17px 0px 0px;
  width: 458px;
  grid-area: logo;
}
@media (max-width: 956px) {
  .showDiv > .p-dataview > .p-dataview-content > .grid.grid-nogutter > .articleHiddenCategory:nth-child(n+3) > .articlearticleHiddenDivTop {
    display: flex;
    flex-direction: row;
    padding: 0px 17px 0px 0px;
    width: 458px;
  }
}
.showDiv > .p-dataview > .p-dataview-content > .grid.grid-nogutter > .articleHiddenCategory:nth-child(n+3) > .articlearticleHiddenDivTop > img {
  border-radius: 20px;
  width: 417px;
  height: 362px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 1359px) {
  .showDiv > .p-dataview > .p-dataview-content > .grid.grid-nogutter > .articleHiddenCategory:nth-child(n+3) > .articlearticleHiddenDivTop > img {
    height: 100%;
  }
}
@media (max-width: 956px) {
  .showDiv > .p-dataview > .p-dataview-content > .grid.grid-nogutter > .articleHiddenCategory:nth-child(n+3) > .articlearticleHiddenDivTop > img {
    width: 100%;
  }
}
.showDiv > .p-dataview > .p-dataview-content > .grid.grid-nogutter > .articleHiddenCategory:nth-child(n+3) > .articlearticleHiddenDivTop > p {
  min-width: 133.6204528809px;
  width: 133.62px;
  height: 35.9527359009px;
  max-height: 35px;
  padding-top: 8px;
  border-radius: 40px;
  background-color: #262626;
  text-align: center;
  letter-spacing: 1px;
  font-weight: 700;
  font-size: 12px;
  position: relative;
  color: #FFFFFF;
  text-transform: uppercase;
  top: 10px;
  left: -390px;
}
.showDiv > .p-dataview > .p-dataview-content > .grid.grid-nogutter > .articleHiddenCategory:nth-child(n+3) > .articlearticleHiddenDivMiddle {
  display: flex;
  align-items: flex-start;
  padding-top: 19px;
  grid-area: content;
  height: 100%;
  padding-right: 19px;
}
.showDiv > .p-dataview > .p-dataview-content > .grid.grid-nogutter > .articleHiddenCategory:nth-child(n+3) > .articlearticleHiddenDivMiddle > img {
  width: 50.0190429688px;
  height: 50.0190429688px;
  -o-object-fit: cover;
     object-fit: cover;
}
.showDiv > .p-dataview > .p-dataview-content > .grid.grid-nogutter > .articleHiddenCategory:nth-child(n+3) > .articlearticleHiddenDivMiddle > h3 {
  padding-left: 19px;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 1px;
  color: #BCBCBC;
  width: 100%;
}
.showDiv > .p-dataview > .p-dataview-content > .grid.grid-nogutter > .articleHiddenCategory:nth-child(n+3) > .articlearticleHiddenDivMiddle > span {
  padding-left: 115px;
  font-size: 14px;
  font-weight: 400;
  color: #BCBCBC;
  width: 100%;
  margin: 14px 0px;
}
.showDiv > .p-dataview > .p-dataview-content > .grid.grid-nogutter > .articleHiddenCategory:nth-child(n+3) > .articlearticleHiddenDivBottom {
  grid-area: content;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 19px;
  padding-top: 7px;
}
@media (max-width: 1292px) {
  .showDiv > .p-dataview > .p-dataview-content > .grid.grid-nogutter > .articleHiddenCategory:nth-child(n+3) > .articlearticleHiddenDivBottom {
    padding-top: 56px;
  }
}
.showDiv > .p-dataview > .p-dataview-content > .grid.grid-nogutter > .articleHiddenCategory:nth-child(n+3) > .articlearticleHiddenDivBottom > h1 {
  color: #262626;
  font-size: 26px;
  font-weight: 700;
  height: 55px;
  margin-top: 65px;
}
@media (max-width: 1300px) {
  .showDiv > .p-dataview > .p-dataview-content > .grid.grid-nogutter > .articleHiddenCategory:nth-child(n+3) > .articlearticleHiddenDivBottom > h1 {
    margin: 0px 0px 40px 0px;
  }
}
.showDiv > .p-dataview > .p-dataview-content > .grid.grid-nogutter > .articleHiddenCategory:nth-child(n+3) > .articlearticleHiddenDivBottom > h4 {
  color: #262626;
  font-size: 16px;
  font-weight: 400;
  word-break: break-all;
}
.showDiv > .p-dataview > .p-dataview-content > .grid.grid-nogutter > .articleHiddenCategory:nth-child(n+3) > .articlearticleHiddenDivBottom > a {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
}
.showDiv > .p-dataview > .p-dataview-content > .grid.grid-nogutter > .articleHiddenCategory:nth-child(n+3) > .articlearticleHiddenDivBottom > a > img {
  width: 39px;
  height: 39px;
}
.showDiv > .p-dataview > .p-dataview-content > .grid.grid-nogutter > .articleHiddenCategory:nth-child(n+3) > .articlearticleHiddenDivBottom > a > p {
  letter-spacing: 2px;
  font-weight: 700;
  font-size: 13px;
  color: #4CE0D7;
}

.p-carousel-prev.p-link {
  background-color: #4CE0D7;
  position: absolute;
  top: 738px;
  right: 125px;
  color: black;
}
@media (max-width: 1024px) {
  .p-carousel-prev.p-link {
    right: 149px;
  }
}
@media (max-width: 965px) {
  .p-carousel-prev.p-link {
    top: 845px;
  }
}
@media (max-width: 768px) {
  .p-carousel-prev.p-link {
    top: 840px;
    right: 161px;
  }
}
@media (max-width: 480px) {
  .p-carousel-prev.p-link {
    right: 100px;
  }
}
@media (max-width: 420px) {
  .p-carousel-prev.p-link {
    top: 748px;
    scale: 1.7;
  }
}
@media (max-width: 351px) {
  .p-carousel-prev.p-link {
    right: 75px;
    scale: 1.3;
  }
}

.p-carousel-next.p-link {
  background-color: #4CE0D7;
  position: absolute;
  right: 88px;
  top: 738px;
  color: black;
}
@media (max-width: 1024px) {
  .p-carousel-next.p-link {
    right: 105px;
  }
}
@media (max-width: 965px) {
  .p-carousel-next.p-link {
    top: 845px;
  }
}
@media (max-width: 768px) {
  .p-carousel-next.p-link {
    top: 840px;
    right: 115px;
  }
}
@media (max-width: 480px) {
  .p-carousel-next.p-link {
    right: 50px;
  }
}
@media (max-width: 420px) {
  .p-carousel-next.p-link {
    top: 748px;
    scale: 1.7;
    right: 37px;
  }
}
@media (max-width: 351px) {
  .p-carousel-next.p-link {
    scale: 1.3;
    right: 24px;
  }
}

.p-carousel {
  width: 100%;
}

.p-carousel-content {
  width: 100%;
}

.p-carousel-items-container {
  height: 291px;
  padding: 5px 0px;
}
@media (max-width: 420px) {
  .p-carousel-items-container {
    height: 685px;
    height: 100%;
  }
}

.cardsCategories {
  height: 100%;
  margin: 0px 5px;
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  background-color: #FFFFFF;
  box-shadow: 0px 6px 6px 1px rgba(0, 0, 0, 0.05);
  font-family: "Poppins", sans-serif;
}
.cardsCategories > img {
  height: 108px;
  margin-top: 30px;
  -o-object-fit: cover;
     object-fit: cover;
}
.cardsCategories > h1 {
  height: 43px;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: 700;
  color: #262626;
}
.cardsCategories > button {
  list-style: none;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 14px;
  border: none;
  width: 143.8109436035px;
  height: 35.9527359009px;
  cursor: pointer;
  border-radius: 40px;
  background-color: #4CE0D7;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 376px) {
  .cardsCategories > button {
    width: 117.810944px;
    height: 27.952736px;
  }
}
@media (max-width: 420px) {
  .cardsCategories {
    scale: 1.1;
    margin: 20px 0px 15px 12px;
    padding-top: 10px;
    width: 165px;
    height: 296px;
  }
}
@media (max-width: 376px) {
  .cardsCategories {
    width: 140px;
  }
}
@media (max-width: 360px) {
  .cardsCategories {
    scale: 1;
    margin: 20px 0px 15px 4px;
    padding-top: 10px;
    width: 144px;
    height: 283px;
  }
}
@media (max-width: 320px) {
  .cardsCategories {
    width: 130px;
  }
}

.w-6.shadow-2 {
  max-width: auto;
}

.p-carousel-indicators {
  display: none;
}

.p-dataview-content {
  background-color: transparent;
}

@media (min-width: 957px) {
  .homeHidden {
    display: none;
  }
}
.homeHidden > .p-dataview > .p-dataview-content > .grid.grid-nogutter {
  display: flex;
  flex-direction: column;
  gap: 80px;
  background: transparent;
}
.homeHidden > .p-dataview > .p-dataview-content > .grid.grid-nogutter > .articleHidden {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 710px;
  width: 975px;
  border-radius: 20px;
  background-color: #FFFFFF;
  box-shadow: 0px 6px 6px 1px rgba(0, 0, 0, 0.05);
  height: 100%;
}
@media (max-width: 1460px) {
  .homeHidden > .p-dataview > .p-dataview-content > .grid.grid-nogutter > .articleHidden {
    width: 100%;
  }
}
@media (min-width: 957px) {
  .homeHidden > .p-dataview > .p-dataview-content > .grid.grid-nogutter > .articleHidden {
    display: none;
  }
}
.homeHidden > .p-dataview > .p-dataview-content > .grid.grid-nogutter > .articleHidden > .articlearticleHiddenDivTop {
  background-color: transparent;
  height: 365px;
  width: 100%;
}
@media (max-width: 470px) {
  .homeHidden > .p-dataview > .p-dataview-content > .grid.grid-nogutter > .articleHidden > .articlearticleHiddenDivTop {
    height: 306px;
  }
}
.homeHidden > .p-dataview > .p-dataview-content > .grid.grid-nogutter > .articleHidden > .articlearticleHiddenDivTop > img {
  border-radius: 20px;
  height: 378px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 470px) {
  .homeHidden > .p-dataview > .p-dataview-content > .grid.grid-nogutter > .articleHidden > .articlearticleHiddenDivTop > img {
    height: 100%;
  }
}
.homeHidden > .p-dataview > .p-dataview-content > .grid.grid-nogutter > .articleHidden > .articlearticleHiddenDivTop > p {
  width: 178.1868286133px;
  height: 35.9527359009px;
  border-radius: 40px;
  background-color: #262626;
  color: #FFFFFF;
  font-size: 12px;
  font-weight: 700;
  text-align: center;
  letter-spacing: 1px;
  padding-top: 8px;
  text-transform: uppercase;
  position: relative;
  top: -365px;
  left: 50px;
}
@media (max-width: 470px) {
  .homeHidden > .p-dataview > .p-dataview-content > .grid.grid-nogutter > .articleHidden > .articlearticleHiddenDivTop > p {
    top: -290px;
    left: 29px;
    padding-top: 10px;
  }
}
.homeHidden > .p-dataview > .p-dataview-content > .grid.grid-nogutter > .articleHidden > .articlearticleHiddenDivMiddle {
  display: flex;
  width: 100%;
  align-items: center;
  padding: 0px 40px;
  margin-top: 35px;
  white-space: nowrap;
}
@media (max-width: 470px) {
  .homeHidden > .p-dataview > .p-dataview-content > .grid.grid-nogutter > .articleHidden > .articlearticleHiddenDivMiddle {
    padding: 0px 20px;
    margin-top: 21px;
  }
}
.homeHidden > .p-dataview > .p-dataview-content > .grid.grid-nogutter > .articleHidden > .articlearticleHiddenDivMiddle > img {
  width: 50.0190429688px;
  height: 50.0190429688px;
  -o-object-fit: cover;
     object-fit: cover;
}
.homeHidden > .p-dataview > .p-dataview-content > .grid.grid-nogutter > .articleHidden > .articlearticleHiddenDivMiddle > h3 {
  padding-left: 20px;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 1px;
  color: #BCBCBC;
}
.homeHidden > .p-dataview > .p-dataview-content > .grid.grid-nogutter > .articleHidden > .articlearticleHiddenDivMiddle > span {
  padding-left: 60px;
  font-weight: 400;
  font-size: 14px;
  color: #BCBCBC;
}
@media (max-width: 433px) {
  .homeHidden > .p-dataview > .p-dataview-content > .grid.grid-nogutter > .articleHidden > .articlearticleHiddenDivMiddle > span {
    padding-left: 30px;
  }
}
@media (max-width: 373px) {
  .homeHidden > .p-dataview > .p-dataview-content > .grid.grid-nogutter > .articleHidden > .articlearticleHiddenDivMiddle > span {
    display: none;
  }
}
.homeHidden > .p-dataview > .p-dataview-content > .grid.grid-nogutter > .articleHidden > .articlearticleHiddenDivMiddle > p {
  letter-spacing: 2px;
  font-weight: 700;
  font-size: 14px;
  color: #F25E5E;
  padding-left: 65px;
}
@media (max-width: 766px) {
  .homeHidden > .p-dataview > .p-dataview-content > .grid.grid-nogutter > .articleHidden > .articlearticleHiddenDivMiddle > p {
    display: none;
  }
}
.homeHidden > .p-dataview > .p-dataview-content > .grid.grid-nogutter > .articleHidden > .articlearticleHiddenDivBottom {
  padding: 0px 40px;
  height: 280px;
  margin-top: 15px;
  padding: 0px 20px;
  height: 100%;
  margin: 15px 0px;
  margin-bottom: 25px;
}
.homeHidden > .p-dataview > .p-dataview-content > .grid.grid-nogutter > .articleHidden > .articlearticleHiddenDivBottom > h1 {
  font-weight: 700;
  font-size: 26px;
  color: #262626;
  height: 60px;
  word-break: break-all;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  margin: 0px;
  height: auto;
}
.homeHidden > .p-dataview > .p-dataview-content > .grid.grid-nogutter > .articleHidden > .articlearticleHiddenDivBottom > h4 {
  font-weight: 400;
  font-size: 16px;
  color: #262626;
  word-break: break-all;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}
.homeHidden > .p-dataview > .p-dataview-content > .grid.grid-nogutter > .articleHidden > .articlearticleHiddenDivBottom > a {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
}
.homeHidden > .p-dataview > .p-dataview-content > .grid.grid-nogutter > .articleHidden > .articlearticleHiddenDivBottom > a > img {
  height: 39px;
  width: 39px;
}
.homeHidden > .p-dataview > .p-dataview-content > .grid.grid-nogutter > .articleHidden > .articlearticleHiddenDivBottom > a > p {
  letter-spacing: 2px;
  font-weight: 700;
  font-size: 13px;
  color: #4CE0D7;
}
.homeHidden > .p-dataview > .p-paginator-bottom.p-paginator.p-component {
  display: flex;
  margin-top: 20px;
  width: 100%;
  height: 80px;
  border-radius: 20px;
  background-color: #FFFFFF;
  box-shadow: 0px 6px 6px 1px rgba(0, 0, 0, 0.05);
  align-items: center;
  justify-content: space-around;
  font-family: "Poppins", sans-serif;
}
.homeHidden > .p-dataview > .p-paginator-bottom.p-paginator.p-component .p-link:disabled {
  color: #BCBCBC;
}
.homeHidden > .p-dataview > .p-paginator-bottom.p-paginator.p-component > button {
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 23px;
  color: #4CE0D7;
}
.homeHidden > .p-dataview > .p-paginator-bottom.p-paginator.p-component > button > span {
  display: flex;
  align-items: center;
  gap: 5px;
}
.homeHidden > .p-dataview > .p-paginator-bottom.p-paginator.p-component > button > span > i {
  font-size: 21px;
  color: #BCBCBC;
}

.p-sidebar {
  width: 100% !important;
  background-color: #4CE0D7;
}

.p-sidebar-content {
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  padding: 0px 28px;
  gap: 6px;
  margin: 0px 0px;
}
.p-sidebar-content > ul {
  list-style: none;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 0px;
}
@media (min-width: 457px) {
  .p-sidebar-content > ul {
    display: none !important;
  }
}
.p-sidebar-content > ul > li {
  width: 100%;
}
.p-sidebar-content > ul > li > a {
  text-decoration: none;
  color: #262626;
  font-size: 32px;
  font-weight: 400;
}
.p-sidebar-content > ul .active {
  font-weight: 700;
}
.p-sidebar-content > h2 {
  color: #262626;
  font-weight: 700;
  font-size: 32px;
  width: 100%;
  margin: 0px 0px 11px 0px;
  padding-top: 22px;
}
@media (max-width: 457px) {
  .p-sidebar-content > h2 {
    border-top: 2px solid black;
  }
}
.p-sidebar-content > form {
  display: flex;
  flex-direction: row;
  gap: 22px;
}
@media (max-width: 610px) {
  .p-sidebar-content > form {
    flex-direction: column;
  }
}
.p-sidebar-content > form > .p-icon-field.p-icon-field-right {
  width: 100%;
}
.p-sidebar-content > form > .p-icon-field.p-icon-field-right > .p-inputtext {
  font-family: "Poppins", sans-serif;
  width: 100%;
  height: 68px;
  border-radius: 40px;
  background-color: #FFFFFF;
  padding-left: 45px;
  border-color: transparent !important;
  border: transparent !important;
}
@media (max-width: 500px) {
  .p-sidebar-content > form > .p-icon-field.p-icon-field-right > .p-inputtext {
    padding: 0px 0 0 12px;
  }
}
.p-sidebar-content > form .p-inputtext::-moz-placeholder {
  color: #262626 !important;
  font-size: 14px;
  font-style: italic;
}
.p-sidebar-content > form .p-inputtext::placeholder {
  color: #262626 !important;
  font-size: 14px;
  font-style: italic;
}
@media (max-width: 500px) {
  .p-sidebar-content > form .p-inputtext::-moz-placeholder {
    font-size: 12px;
  }
  .p-sidebar-content > form .p-inputtext::placeholder {
    font-size: 12px;
  }
}
.p-sidebar-content > form .pi.pi-search.p-input-icon {
  filter: brightness(0) !important;
  padding-right: 17px;
  scale: 1.2;
}
.p-sidebar-content > form > button {
  width: 331px;
  width: 20.6875rem;
  height: 68px;
  border-radius: 40px;
  background-color: #36ACA5;
  box-shadow: 0px 6px 6px 1px rgba(0, 0, 0, 0.07);
  align-items: center;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  border: none;
  cursor: pointer;
  padding: 0px;
}
@media (max-width: 610px) {
  .p-sidebar-content > form > button {
    width: 100%;
  }
}
@media (max-width: 457px) {
  .p-sidebar-content > form > button {
    margin-bottom: 20px;
  }
}

.main404 {
  border-top: 1px solid #BCBCBC;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  margin: 0px 10px;
}
.main404 h1 {
  overflow: hidden;
  font-family: Poppins;
  font-size: 64px;
  font-weight: bold;
  text-align: center;
  color: #262626;
  margin: 0;
}
@media (max-width: 361px) {
  .main404 img {
    width: 300px;
  }
}
.main404 p {
  overflow: hidden;
  font-family: Poppins;
  font-size: 20px;
  text-align: center;
  color: #262626;
  margin: 0;
}
.main404 a {
  margin: 0;
  width: 207.24px;
  height: 41.56px;
  border-radius: 40px;
  transform: rotate(-0.47deg);
  background: rgb(76, 224, 215);
  overflow: hidden;
  font-family: Poppins;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  color: #262626;
  text-decoration: none;
  padding: 10px 0px;
  margin-top: 23px;
  cursor: pointer;
}

@keyframes wipe-in-right {
  from {
    -webkit-clip-path: inset(0 100% 0 0);
            clip-path: inset(0 100% 0 0);
  }
  to {
    -webkit-clip-path: inset(0 0 0 0);
            clip-path: inset(0 0 0 0);
  }
}
[transition-style="in:wipe:right"] {
  animation: 2.5s cubic-bezier(0.25, 1, 0.3, 1) wipe-in-right both;
  --transition__duration: 4s;
  --transition__delay: 2s;
}

.hidden {
  display: none;
}

.show {
  display: flex;
}

/* width */
::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
  cursor: n-resize;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #4CE0D7;
  border-radius: 10px;
}

body {
  background-color: #F5F5F5;
  margin: 0;
  padding: 0;
  overflow: hidden;
  overflow-y: scroll;
}

img {
  max-height: 500px;
}

.containerMain {
  margin: 0px 88px;
  margin-top: 21px;
  font-family: "Poppins", sans-serif;
}
@media (max-width: 600px) {
  .containerMain {
    margin: 0px 40px;
  }
}
@media (max-width: 420px) {
  .containerMain {
    margin: 0px 20px;
  }
}

.containerMain.categoryTemplate {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.containerMain.postUnic {
  margin-top: 0px;
}

.containerMain.contactUs {
  margin-top: 0px;
}

.divisor {
  border: 1px solid rgb(188, 188, 188);
  margin-top: 65px;
}
@media (max-width: 320px) {
  .divisor {
    margin-top: 15px;
  }
}

.footerHr {
  width: 100%;
  border: 1px solid rgb(188, 188, 188);
  margin-top: 70px;
}
@media (max-width: 836px) {
  .footerHr {
    margin-top: 20px;
  }
}

.footerP {
  color: #262626;
  font-size: 14px;
  font-weight: 700;
  padding-top: 5px;
}
@media (max-width: 836px) {
  .footerP {
    text-align: center;
  }
}

.active::before {
  opacity: 1 !important;
  transform: translateY(0) !important;
}/*# sourceMappingURL=index.css.map */