.head {
  display: flex;
  margin: 40px 88px;
  align-items: center;
  max-height: 39px;
  justify-content: space-between;
  align-content: center;
  font-family: "Poppins", sans-serif;
  gap: 10px;
}
.head > img {
  cursor: pointer;
}
.head > nav {
  padding: 0px;
  display: flex;
  flex-direction: row;
}
.head > nav > ul {
  display: flex;
  align-items: center;
  gap: 48px;
  list-style: none;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 14px;
  gap: 35px;
  padding: 0px;
  margin: 0px;
}
.head > nav > ul > li ::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 100%;
  height: 4px;
  background: aqua;
  border-radius: 5px;
  transform: translateY(10px);
  opacity: 0;
  transition: 0.5s;
}
.head > nav > ul > li :hover::before {
  transform: translateY(0);
  opacity: 1;
}
.head > nav > ul > li :focus::before {
  opacity: 1 !important;
  transform: translateY(0);
}
.head > nav > ul > li > a {
  text-decoration: none;
  color: #262626;
  position: relative;
  text-decoration: none;
  list-style-type: none;
}
.head > nav > ul > li:nth-child(5n) {
  height: 35.9527359009px;
  border-radius: 40px;
  background-color: #4CE0D7;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 110px;
  color: #262626;
  font-weight: 700;
  width: 143px;
}
.head > nav > ul > li:nth-child(5n) ::before {
  height: 0px;
  width: 0px;
}
.head > nav > ul > li:nth-child(5n) > a {
  width: 100%;
  height: 100%;
  border-radius: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.head > nav > ul > li:nth-child(5n) :hover {
  background-color: #262626 !important;
  color: #4CE0D7 !important;
  transition: 0.5s ease-in-out;
}
.head > nav > ul > li:nth-child(5n) :focus {
  background-color: #262626 !important;
  color: #4CE0D7 !important;
}
.head > nav > button {
  border: none;
  background: transparent;
  cursor: pointer;
  margin: 0px 10px;
  padding: 0;
}
.head > nav > button :active {
  scale: 0.9;
}
.head > nav > button > img {
  height: 100%;
}
@media (max-width: 965px) {
  .head {
    margin: 100px 88px 80px 88px;
  }
  .head > img {
    width: 350px;
    height: 100px;
  }
  .head nav ul {
    display: none;
  }
  .head nav > button {
    scale: 2;
  }
  .head nav > button > img:first-child {
    display: none;
  }
  .head nav > button > img {
    display: flex;
  }
}
@media (max-width: 720px) {
  .head > img {
    width: 350px;
    height: 100px;
  }
  .head > nav > button {
    scale: 2;
  }
}
@media (max-width: 638px) {
  .head > nav > button {
    scale: 2.5;
  }
}
@media (max-width: 601px) {
  .head {
    margin: 100px 40px 80px 40px;
  }
  .head > img {
    width: 216px;
  }
}
@media (max-width: 539px) {
  .head {
    margin: 100px 40px 80px 40px;
  }
  .head > nav > button {
    scale: 2.5;
  }
}
@media (max-width: 420px) {
  .head {
    margin: 50px 20px 35px 20px;
  }
  .head > img {
    width: 450px;
    width: 195px;
    width: 213px;
  }
  .head > nav > button {
    scale: 1.5;
    margin: 0px;
    padding-right: 9px;
  }
}/*# sourceMappingURL=style.module.css.map */